* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    padding: 10px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 550px;
    margin-bottom: 20px;
    gap: 50%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
    display: flex;
    justify-content: flex-start;
    text-align: left;
}

.navbar {
    width: 90%;
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    font-size: 18px;
    display: flex;
    justify-content: space-between;   
}

.navbar li {
    margin-right: 10px;
    list-style: none;  
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;  
}

.navbar a:hover {
    color: #e71017;
    background-color: #a6d8ea;
}

.links {
    display: flex;
    justify-content: flex-end;
    margin-left: 450px;
}

.content-container {
    /*margin: 20px 10px;*/
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18%;
}

.content-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 70%;
    margin-bottom: 10px;
}

.content-text p {
    color: #F9FAF8;
    font-size: 16px;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    justify-content: flex-start;
}

.signup {
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    margin-top: 10px;
    padding: 10px 20px;
    display: block;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

.signup:hover {
    color: #f85206;
    background-color: #e4cf65;
}

.placeholder {
    width: 350px;
    height: 175px;
    margin-top: 20px;
    padding: 0;
    background-color: #777777;
    color: #F9FAF8;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.info-container {
    background-color: #FFF;
    margin: 20px 0;
    padding: 10px 20px;
    display: block;
}

.heading {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.square-container,
.text-container {
    display: flex;
    justify-content: center;
    margin: 20px 10px;
    padding: 0;
    gap: 5%;
}

.square-one,
.square-two,
.square-three,
.square-four {
    width: 150px;
    height: 150px;
    border: 3px solid #38b7f6;
    border-radius: 15px;
    flex-shrink: 0;
}

.text-one,
.text-two,
.text-three,
.text-four {
    margin-top: 10px;
    width: 150px;
    font-size: 16px;
    font-weight: lighter;
    text-align: center;  
}

.quote-container {
    background-color: #E5E7EB;
    margin: 0 auto;
    padding: 20px 0;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    color:#1F2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    text-align: justify;
    padding: 0 10px;
    width: 770px;
}

.quote-author {
    color:#1F2937;
    font-size: 24px;
    font-weight: bolder;
    margin-left: 500px;
    text-align: right; 
}

.call-to-action {
    background-color: #ffffff;
   /* margin: 0 auto;*/
    padding: 20px 0;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

.action-container {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: #F9FAF8;
    margin-top: 10px;
    margin-left: 120px;
    padding: 20px 120px;
    width: 900px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.action-heading {
    font-size: 24px;
    font-weight: bold;
    color:#F9FAF8;
    font-weight: bolder;
    padding-top: 30px;
}

.action-info {
    font-size: 18px;
    color: #F9FAF8;
}

.action-signup {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.action-signup button {
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 10px 30px;
    border: 2px solid #FFF;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;

}

.action-signup button:hover {
    color: #f85206;
    background-color: #e4cf65;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 40px;
    font-size: 20px;
} 

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}