* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto";
    box-sizing: border-box;
}

header {
    background-color: #1F2937;
    padding: 10px;
}

.header-container{
    
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 30%;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbar {
    width: 90%;
    max-width: 1000px;
   /* margin: 0 auto;*/
    /*padding: 10px 20px;*/
  
}

.navbar ul {
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    
}

.navbar li {
    margin-right: 10px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #E5E7EB;
}

.links {
    display: flex;
    justify-content: flex-end;
    }

.content-container {
    margin: 50px 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 18%;
}

/*.content-text {
    flex-grow: 1;
}*/

.content-text h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    width: 70%;
    margin-bottom: 10px;

}

.content-text p {
    color: #F9FAF8;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    

}

.signup {
    color: #F9FAF8;
    background-color: #3882F6;
    padding: 5px 10px;
    border: none;
}

.signup:hover {
    color: #E8CB39
}

.type {

}

.placeholder {
    width: 200px;
    height: 300px;
    color: #F9FAF8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

